@import "../../_variables.scss";

.tasks {
    width: 100%;
    height: auto;
    overflow: auto;
}

.all__tasks{
    padding: 0rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width:1100px) {
    .all__tasks{
        grid-template-columns: 1fr;
    }
}