@import '../../styles/_variables.scss';

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16rem;
    height: 100%;
    background-color: $foreground;
    padding: 16px;
    color: $foreground-alt3;
    transition: all 0.2s ease-out;
}

.sidebar__middle {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sidebar__profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $foreground-alt;
    padding: 8px;
    border-radius: 8px;
    transition: 0.2s ease-out;
    user-select: none;
    cursor: pointer;
}

.sidebar__profile__collapsed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $foreground-alt;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    transition: 0.2s ease-out;
    user-select: none;
    cursor: pointer;
}

.sidebar__bottom__collapsed {
    display: flex;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

.sidebar__route {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    background-color: $foreground;
    padding: 12px;
    border-radius: 8px;
    transition: 0.2s ease-out;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    color: $foreground-alt3;
}

.sidebar__route__collapsed {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $foreground;
    padding: 12px;
    border-radius: 8px;
    transition: 0.2s ease-out;
    user-select: none;
    cursor: pointer;
}

.sidebar__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sidebar__top__collapsed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.sidebar__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    font-size: 20px;
}

.sidebar__collapse {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $foreground-alt;
    width: 36px;
    height: 36px;
    border-radius: 8px;
    transition: 0.2s ease-out;
    cursor: pointer;
    font-size: 20px;
}

.sidebar__collapse:hover {
    background-color: $foreground-alt2;
}

.sidebar__route__active {
    background-color: $foreground-alt;
}

.route__icon {
    font-size: 24px;
}

.route__text {
    text-align: center;
}

.sidebar__profile:hover, .sidebar__route:hover {
    background-color: $foreground-alt2;
}

.profile__left {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.profile__right {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    margin-right: 8px;
    font-size: 24px;
}

.profile__picture {
    border-radius: 8px;
}

.profile__name, .route__text {
    display: block;
}

.sidebar__collapsed {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 5.5rem;
    height: 100%;
    background-color: $foreground;
    padding: 16px;
    color: $foreground-alt3;
    transition: all 0.2s ease-out;
}

.text__collapsed {
    display: none;
}