@import '../styles/_variables.scss';

.display__none {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $foreground-alt3;
}

.login__success {
    opacity: 1;
    margin-bottom: 4px;
    padding: 16px;
    background-color: #2ecc71;
    width: 320px;
    border-radius: 8px;
    color: white;
    transition: all 0.2s ease-in-out;
}

.login__error {
    opacity: 1;
    margin-bottom: 4px;
    padding: 16px;
    background-color: #c0392b;
    width: 320px;
    border-radius: 8px;
    color: white;
    transition: all 0.2s ease-in-out;
}

.login__modal {
    color: white;
    background-color: $foreground;
    padding: 32px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.login__title {
    font-size: 20px;
}

.login__label {
    align-self: start;
}

.login__input {
    color: white;
    font-family: 'Inter', sans-serif;
    background: $foreground-alt;
    border: 2px solid $foreground-alt2;
    border-radius: 8px;
    height: 32px;
    width: 256px;
    padding: 8px;
    transition: 0.2s ease-in-out;
}

.login__input:focus {
    background: $foreground-alt2;
}

.login__button {
    width: 100%;
    padding: 8px;
    background: $foreground-alt;
    color: white;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.login__button:hover {
    background: $foreground-alt2;
}

.login__signup {
    font-size: 12px;
    color: $foreground-alt3;
}

.login__signup a {
    text-decoration: none;
    color: $foreground-alt3;
    transition: 0.2s ease-in-out;
}

.login__signup a:hover {
    color: gray;
}